extends layout

block content
  h1 Oh noes!
  p
    | Something went wrong while I tried to get foursquare data.
    | Try refreshing this page and see what happens. If this persists,
    | please let me know!