doctype 5
html
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  block styles
  body
    block content