body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#balloon {
    white-space: nowrap;
}

#balloon .locationTitle {
    font-size: 24px;
}

#balloon .locationLink {
    text-decoration: none;
}

#balloon .label {
    font-weight: bold;
}