body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#balloon {
    white-space: nowrap;
}

#balloon .locationTitle {
    font-size: 24px;
}

#balloon .locationLink {
    text-decoration: none;
}

#balloon .label {
    font-weight: bold;
}

.flip {
  -moz-transform:    rotate(185deg) scaleX(-1);
  -webkit-transform: rotate(185deg) scaleX(-1) !important;
  -ms-transform:     rotate(185deg) scaleX(-1);
  -o-transform:      rotate(185deg) scaleX(-1);
  transform:         rotate(185deg) scaleX(-1);
}

.mirror {
  -moz-transform:    scaleX(-1);
  -webkit-transform: scaleX(-1) !important;
  -ms-transform:     scaleX(-1);
  -o-transform:      scaleX(-1);
  transform:         scaleX(-1);
}

#map_canvas {
  height: 100%;
}

#map_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#wise_guy {
  text-align: center;
}
